@model ArtworkGallery.Models.Artwork

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;


}

<h1>@Model.ArtworkTitle</h1>
<h2>Medium : @Model.Medium</h2>

<h5> Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>
@if(Model.Pencils.Length > 0)
{
    <h5>pencils used : </h5>
    <div>
        <ul>
            @foreach (var pencil in Model.Pencils)
            {
                <li>@pencil.Name: @pencil.Type</li>
            }
        </ul>
    </div>
}
